@import 'layout/default/default';
@import 'pages/cars/cars';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: #E6EAED;
  padding-bottom: 300px;
}
.uc-f {
  text-transform: capitalize;
}
.container {
  max-width: 960px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}